body {
    background: rgba(63, 63, 247, 0.719);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    margin-top: 10px;
    padding: 20px;

}

div#idadetxt {

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}